
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
  url('../fonts/gilroylight.woff2') format('woff2'),
  url('../fonts/gilroylight.woff') format('woff'),
  url('../fonts/gilroylight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
  url('../fonts/gilroyextrabold.woff2') format('woff2'),
  url('../fonts/gilroyextrabold.woff') format('woff'),
  url('../fonts/gilroyextrabold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'),
  url('../fonts/opensanslight.woff2') format('woff2'),
  url('../fonts/opensanslight.woff') format('woff'),
  url('../fonts/opensanslight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'),
  url('../fonts/opensansregular.woff2') format('woff2'),
  url('../fonts/opensansregular.woff') format('woff'),
  url('../fonts/opensansregular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #333333;
  background-color: white;
}


.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


.page-header {
  color: #000000;
  background-color: #f7e296;
}

.page-footer {
  color: #ffffff;
  background-color: #464646;
}

.main-content {
  color: #464646;
  background-color: #ffffff;
}

.logo {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.logo_header {
  color: black;
}

.logo_footer {
  color: #ffc600;
}

.search {}

.user-menu {
  list-style: none;
}

.user-menu__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 36px;
  text-decoration: none;
}

.page-header__user-menu .user-menu__link {
  color: #000000;
}

.page-footer__user-menu .user-menu__link {
  color: #ffffff;
}

.main-menu {
  list-style: none;
}

.main-menu__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.page-header__main-menu .main-menu__link {
  color: #000000;
}

.page-footer__main-menu .main-menu__link {
  color: #ffffff;
}

.catalog-submenu {
  list-style: none;
}

.catalog-submenu__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 36px;
  text-decoration: none;
  color: #000000;
}

.popular-products {
  list-style: none;
}

.popular-products__slide-number {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 180px;
  line-height: 180px;
  color: #ffffff;
}

.popular-products__lead {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 47px;
  line-height: normal;
  color: #000000;
}

.popular-products__description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.popular-products__property-name {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
}

.popular-products__property-value {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: normal;
  color: #000000;
}

.categories {
  list-style: none;
}

.categories__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  text-decoration: none;
  color: #000000;
}

.services {
  color: #464646;
  background-color: #e5e5e5;
}

.section-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 47px;
  line-height: normal;
  color: #000000;
}

.section-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.delivery-methods {
  list-style: circle;
}

.delivery-methods__item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}
